@import url('https://fonts.googleapis.com/css?family=Cookie|Grand+Hotel|Ubuntu|Oswald|Odibee+Sans|Josefin+Sans|Lobster|Pacifico|Sacramento|Satisfy&display=swap');

body{
    margin:0;
    padding:0;
    display:flex;
    background:#eee;
    justify-content:center;
    align-items: center;
}
main{
    width:100vw;
    height: 100vh;
    max-height:100vh;
    overflow: scroll;
    overflow-x:hidden;
    background:#f6c7c7;
}
header,.authorDup,.header{
    position:fixed;
    top:0;
    height:10vh;
    z-index:5;
    min-height:70px;
    background-color: #f12b6b;
    width:100vw;
    color:;
    display: flex;
    align-items:center;
}
header span,.header span{
    font-family:"Sacramento";
    font-size:250%;
    margin-left:20px;
}
.student{
    width:90vw;
    border-radius:50px;
    min-height:60px;
    cursor:pointer;
    background-color:#ff467e;
    height:7.5vh;
    margin-left:5vw;
    margin-top:5vh;
    position: relative;
    text-align: center;
}
.author{
    font-family:"odibee sans";
    position: absolute;
    font-size:150%;
    margin:auto;
    color:;
    transition:0.6s;
}
.student:first-child{
    margin-top:18vh;
}
.img{
    width:56px;
    height:56px;
    border-radius:50%;
    background-color: white;
    border:2px solid #ff467e;
    position: absolute;
    left:0;
    transition:0.6s;
}
::-webkit-scrollbar{
    width:2px;
}
::-webkit-scrollbar-thumb{
    border-radius:6px;
    background: linear-gradient(to bottom, #ff1084, #33001b);
}
.newPage,#settings-page{
    z-index:10;
    background:#fd94b4;
    margin:0;
    width:100vw;
    height: 100vh;
    max-height:100vh;
    overflow: scroll;
    overflow-x:hidden;
    background-size: cover;
    background-attachment: fixed;
}
.fa-arrow-left,.fa-times{
    color:black;
    font-family:"josefin sans";
    z-index:12;
    height:22.5px;
    width:22.5px;
    position:absolute;
    padding:10px;
    left:10px;
    cursor:pointer;
    font-size: 70%;
    background-color:#ff467e;
    border-radius: 50%;
    margin:0;
    transition: 0.3s;
}
.fa-times{
    font-size:150%;
    height: 22.5px;
    padding:10px;
    width:20px;
}
.fa-arrow-left:hover,.fa-times:hover{
    background-color:black;
    color:#ff467e;
}
.imgDup{
    position: absolute;
    z-index: 13;
    margin-left:5vw;
    top:8vh;
    height:110px;
    width:110px;
    border-radius:50%;
    background-color: #fff;
    border: 2px solid #f12b6b;
}
.authorDup{
    font-size:225%;
    z-index:11;
    position: fixed;
    background-color:#ff467e;
    width:100vw;
    min-height:70px; 
    font-family: "Odibee sans";
    margin:0;
    top:0;
    padding-right:30px;
}
.authorDup span{ 
    position: absolute;
    right:40px;
    margin-right: 20px;
}
.student{
    display:flex;
    align-items:center;
    justify-content:center;
}
.fa-cog{
    color:;
    transform:scale(2);
    cursor:pointer;
    position: absolute;
    right:40px;
}
.covers{
    height:20vh;
}
.ques{
    margin:10px;
    font-family:"josefin sans";
    font-size:115%;
    margin-right:0;
}
.ans{
    font-family:'cookie';
    font-size:170%;
    margin:0;
}
#allQuotesDiv{
    width:100%;
    display: inline-flex;
    height:30vh;
    margin:0;
    padding:10px;
    min-height: ;
    border:1px solid black;
    overflow-x:scroll;
    overflow-y: hidden;
}
.quote-div{
    height:22vh;
    margin:10px;
    margin-right:10px;
    background-color:#E0E5EC;
    box-shadow: 9px 9px 16px rgba(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.5);
    min-width:80%;
    width:80%;
    border-radius:5%;
    padding:10px;
    text-align:center;
    font-family:"sacramento";
    display: flex;
    justify-content: center;
    align-items:center;
    font-size:160%;
}
.quote-div:nth-child(2n+1){
    font-family: "Pacifico";
    font-size:125%;
    font-weight:lighter;
}
#settings-page{
    display: none;
    background-color:#fff;
    position: fixed;
    top: 0;
    left:0;
}
#settings-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.themes{
    position: relative;
    height:20vh;
    width:90%;  
    margin:3vh 5% 3vh 5%;  
    background-color:#E0E5EC;
    box-shadow: 9px 9px 16px rgba(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.5);
    display:flex;
    align-items:center;
    font-family:"Ubuntu";
    font-size:150%;
    color: #555;
}
.themes span {
    margin-left:10%;
}
#theme1{
    margin-top:12vh;
}



/*For Computers*/
@media (min-width: 900px){
    main,.newPage,#settings-page{
        height:95vh;
        position: relative;
        max-height: 95vh;
        margin:2.5vh;
        width: 500px;
        border-radius: 2vh;
    }
    .fa-arrow-left,.fa-times{
        top:2.5vh;
        display: none;
    }
    .authorDup{
        top:2.5vh;
        width:500px;
        border-radius:2vh 2vh 0 0;
        padding:0;
    }
    .authorDup span{
        margin-right:0px;
    }
    .imgDup{
        margin-left: 30px;
        margin-top:0;
    }
    header,.header{
        top:2.5vh;
        width:500px;
        border-radius:2vh 2vh 0 0;
    }
    .student{
        width:450px;
        margin-left:25px;
    }
    .author{
        
    }
}
